.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.App-link {
  color: #61dafb;
}


/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin-top: 32px;
}
th {
  text-align: left;
  padding: 8px;
}
tr {
  transition: background-color 250ms ease-out;
}
tr:not([class*='bgc-']):hover {
  background-color: var(--grayscale-light-color);
}
tr:not(.table-list-header):not(:last-child) {
  border-bottom: 1px solid var(--light-gray-text-color);
}

td {
  padding: 16px 8px;
}